@{
    ViewData["Title"] = "Home Page";
}
@model Thread
<div class="row mb-4">
    @foreach (var category in ViewBag.Categories)
    {
        <div class="col-6 row-style">
            <div class="card">
                <div class="card-title p-3 text-center bg-dark text-white">
                    <h4>@Html.Raw(category.Category.Name)</h4>
                </div>
                <div class="card-body">
                    @foreach (var thread in category.Threads)
                    {
                        <div>
                            <a asp-controller="Threads" asp-action="View" asp-route-id="@thread.Id" >@thread.Title</a>
                        </div>
                    }
                    <div class="mt-3">
                        <a asp-controller = "Categories" asp-action = "Index" asp-route-id = "@category.Category.Id" class="btn btn-primary">See All Threads</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>