@model Category

<div class="card">
	<div class="card-body">
		<h2 class="card-title">@Model.Name</h2>

		@if (ViewBag.catThreads == null || ViewBag.catThreads.Count == 0)
		{
			<p class="text-dark">The category does not contain any threads.</p>
		} 
		else 
		{
			<ul>
				@foreach (var thread in ViewBag.catThreads)
				{
					<li>
						<div>
							<a class="text-decoration-none" asp-action="Show" asp-controller="Threads" asp-route-id="@thread.Id">
								@thread.Title
							</a>
							<p class="text-truncate" style="max-width: 300px">@thread.Content</p>
						</div>
					</li>
				}
			</ul>
		}
	</div>
</div>
