:root {
    --main: #fefefe;
    --second: #C3D0D2;
    --third: #8DA8B1;
    --fourth: #423D36;
    --fifth: #AB7857;
    --sixth: #212121;
}

body {
    padding-left: 15%;
    margin-top: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    display: none;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.navbar-nav li {
    margin: 8px;
}

.navbar-nav li:hover {
    border-bottom: 2px solid #007bff;
}

.w-15 {
    width: 15%;
}

.fixed-navbar {
    height: 100vh;
    position:fixed;
    top:0;
    left:0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.trash-trigger .trash1 {
    transition: 0.5s all ease-in-out;
    display: none;
    text-decoration: none;
    color: white;
}

.trash-trigger a {
    text-decoration: none;
    color: white;
}

.trash-trigger:hover .trash1 {
    transition: 0.5s all ease-in-out;
    display: inline-block;
}